<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<!-- property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> 
		<property name="hibernate.connection.password">Password1</property> 
		<property name="hibernate.connection.url">jdbc:sqlserver://172.19.1.136:1433;databaseName=JarDB</property> 
		<property name="hibernate.connection.username">sa</property> 
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">P@$$w0rd1</property>
		<property name="hibernate.connection.url">jdbc:mysql://172.1.1.2/teller_module</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property-->

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<mapping class="com.quakearts.tools.classloaders.hibernate.JarFile" />
		<mapping class="com.quakearts.tools.classloaders.hibernate.JarFileEntry" />
	</session-factory>
</hibernate-configuration>
