TestConfigDirect {
	test.TestLoginModuleDirect
	required
	testparam="Hello \"world\"";
};

TestConfigWrapped {
	test.TestLoginModuleWrapped
	required
	testparam="Hello \"world\"";
};

TestErrorConfigDirect {
	test.TestErrorThrowingModule
	requisite
	testparam="Hello \"world\"";
};

TestErrorConfigWrapped {
	test.TestWrappedErrorThrowingModule
	required
	testparam="Hello \"world\"";
};

TestClassNotFoundException {
	test.ClassNotFound
	required
	testparam="Hello \"world\"";
};

TestInstantiationException {
	test.noinstantiation.CannotInstantiate
	required
	testparam="Hello \"world\"";
};

TestIllegalAccessException {
	test.noaccess.CannotAccess
	required
	testparam="Hello \"world\"";
};

Permutation1{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation2{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation3{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation4{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation5{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation6{
	test.TestLoginConfigurationModule1 requisite failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation7{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation8{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation9{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation10{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
Permutation11{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation12{
	test.TestLoginConfigurationModule1 required failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
Permutation13{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation14{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation15{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 optional failOnUsername=user4;
};
Permutation16{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 optional failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
Permutation17{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation18{
	test.TestLoginConfigurationModule1 sufficient failOnUsername=user1;
	test.TestLoginConfigurationModule2 optional failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
Permutation19{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation20{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 requisite failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation21{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 sufficient failOnUsername=user4;
};
Permutation22{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 required failOnUsername=user2;
	test.TestLoginConfigurationModule3 sufficient failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
Permutation23{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 requisite failOnUsername=user3;
	test.TestLoginConfigurationModule4 required failOnUsername=user4;
};
Permutation24{
	test.TestLoginConfigurationModule1 optional failOnUsername=user1;
	test.TestLoginConfigurationModule2 sufficient failOnUsername=user2;
	test.TestLoginConfigurationModule3 required failOnUsername=user3;
	test.TestLoginConfigurationModule4 requisite failOnUsername=user4;
};
