#############################################################################
#           Zenith Bank Ghana eDirectory login configuration                #
#           Author: Kwaku Twumasi                                           #
#           Date: June 19th 2008                                            #
#           Version: 1.0                                                    #
#                                                                           #
#           Configurable Elements:                                          #
#                                                                           #
#           Required:                                                       #
#                   ldap.server     : IP address of ldap server             #
#                   ldap.keystore   : Location of the java Keystore         #
#                                     (required for ssl)                    #
#           Optional:                                                       #
#                   ldap.port       : ldap ssl port (if different from      #
#                                     default ssl port as returned by       #
#                                     LDAPConnection.DEFAULT_SSL_PORT)      #
#                   edirectory.rolename : Rolename to be used when calling  #
#                                         the ZeDirectoryRoles(String)      #
#                                         constructor                       #
#                   edirectory.defaultroles : Semi colon separated list of  #
#                                             default set of roles          #
#                                             inherited by all              #
#                                             authenticated users;          #
#                                                                           #
#############################################################################

ldap.server=172.19.1.13
ldap.keystore=D:\\jboss-4.0.5.GA\\server\\default\\conf\\intranet.keystore
#Commented out to use the default port;
#ldap.port=636

#commented out to use the default "Roles" name;
#edirectory.rolename=
edirectory.defaultroles=intranetuser
